upstream jenkins {
    keepalive 32; # keepalive connections
    server 127.0.0.1:8080 fail_timeout=0;
}

server {
    listen 443 ssl;
    server_name _;

    ssl_certificate     ${CERT_DIR}/${FQDN}.crt;
    ssl_certificate_key ${CERT_DIR}/${FQDN}.key;
    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_ciphers         EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH;

    access_log /dev/stdout;
    error_log  /dev/stdout info;

    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
    ignore_invalid_headers off; #pass through headers from Jenkins which are considered invalid by Nginx server.

    location / {
        sendfile           off;
        proxy_pass         http://jenkins;
        proxy_redirect     http:// https://;
        proxy_redirect     https://$host https://$http_host;
        proxy_redirect     http://localhost:8080 $scheme://${FQDN};
        proxy_http_version 1.1;

        proxy_set_header X-Forwarded-Host   $host:$server_port;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto  $scheme;
        proxy_set_header Host               $http_host;
        proxy_set_header X-Real-IP          $remote_addr;

        proxy_max_temp_file_size    0;
        proxy_connect_timeout       90;
        proxy_send_timeout          90;
        proxy_read_timeout          90;
        proxy_buffering             off;
        proxy_request_buffering     off; # Required for HTTP CLI commands in Jenkins > 2.54
        proxy_set_header Connection ""; # Clear for keepalive
    }

    location /nginx_status {
        stub_status on;
        access_log  off;
        allow       127.0.0.1;
        deny        all;
    }
}
